# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Environment files
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
terraform.tfvars
*.auto.tfvars