# ACM certificate must exist in the same AWS region as the ALB.
# acm_certificate_arn = "arn:aws:acm:eu-west-1:123456789012:certificate/example"

aws_region   = "eu-west-1"
project_name = "finzla-cloud-platform"
environment  = "dev"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]